          <ion-col>
              <a href="/map"><ion-icon :icon="map" size="large" color="#efefe"></ion-icon></a>
              &nbsp; 
              <a href="/polygons"><ion-icon :icon="analytics" size="large" color="#efefe"></ion-icon></a>
              &nbsp; 
              <a href="/mapping#photo"><ion-icon :icon="camera" size="large" color="#efefe"></ion-icon></a>
              &nbsp; 
              <a href="/geolocate"><ion-icon :icon="compass" size="large" color="#efefe"></ion-icon></a>
          </ion-col> 